.search {
  overflow: auto;
}

.infoCol1 {
  
  background-color: #88bef2;
}


.btn1name {
  display: inline-block;
  padding: 0.3em 1em;
  margin: 0 0.3em 0.01em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: green;
  text-align: center;
  transition: all 0.2s;
  
  
}

.btn1name:hover {
  background-color: rgb(120, 168, 46);
  cursor: pointer;
}

.pointername:hover {
  background-color: rgb(120, 168, 46);
  cursor: pointer;
}

@media all and (max-width: 30em) {
  .btn1name {
    display: block;
    margin: 0.2em auto;
  }
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    zoom: 45%;
  }
}

.table1   td {
  padding: 0;
  padding-left: 2px;
  margin: 0;
  min-width: 80px;
  height: 32px;
  border: 1px solid black;
  font-size: 13px;
  text-align: center;
}

.table2 td {
  background-color: #88bef2;
}

.table3 div {
  display: block;
  border-bottom: 1px solid black;
  border-right-width: 0px;

  padding-top: 7px;
  padding-left: 2px;
  padding-right: 2px;

  min-width: 80px;
  height: 32px;
  font-size: 13px;
  text-align: right;
}

.overstock-amount {
  background-color: rgb(186, 182, 151);

}
.needed-amount{
  background-color: rgb(238, 165, 156);

}

.dataResult {
  margin-top: 5px;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult {
  width: 170px;
  height: 200px;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
  display: flex;
}

.dataResult:empty {
  border: none;
}

.dropdown-row {
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
}



