.infoCol1 {
  padding: 0;
  padding-left: 2px;
  margin: 0;
  min-width: 80px;
  height: 32px;
  border: 1px solid black;
  font-size: 13px;
  background-color: #88bef2;
}

.nameSection {
  padding: 0;
  padding-left: 2px;
  margin: 0;
  min-width: 80px;
  height: 32px;
  border: 1px solid black;
  font-size: 13px;
}

.btn1 {
  padding: 0;
  padding-left: 2px;
  margin: 0;
  min-width: 80px;
  height: 32px;
  border: 1px solid black;
  font-size: 13px;
}
.table1 {
  border-collapse: collapse;
}
.row2 {
  padding: 0;
  padding-left: 2px;
  margin: 0;
  min-width: 80px;
  height: 32px;
  border: 1px solid black;
  font-size: 13px;
}
.row3 {
  padding: 0;
  padding-left: 2px;
  margin: 0;
  min-width: 80px;
  height: 32px;
  border: 1px solid black;
  font-size: 13px;
}
.row4 {
  padding: 0;
  padding-left: 2px;
  margin: 0;
  min-width: 80px;
  height: 32px;
  border: 1px solid black;
  font-size: 13px;
}
.row5 {
  padding: 0;
  padding-left: 2px;
  margin: 0;
  min-width: 80px;
  height: 32px;
  border: 1px solid black;
  font-size: 13px;
}
.row6 {
  padding: 0;
  padding-left: 2px;
  margin: 0;
  min-width: 80px;
  height: 32px;
  border: 1px solid black;
  font-size: 13px;
}
.row7 {
  padding: 0;
  padding-left: 2px;
  margin: 0;
  min-width: 80px;
  height: 32px;
  border: 1px solid black;
  font-size: 13px;
}
.row8 {
  padding: 0;
  padding-left: 2px;
  margin: 0;
  min-width: 80px;
  height: 32px;
  border: 1px solid black;
  font-size: 13px;
}

.row9 {
  padding: 0;
  padding-left: 2px;
  margin: 0;
  min-width: 80px;
  height: 32px;
  border: 1px solid black;
}

.row10 {
  padding: 0;
  padding-left: 2px;
  margin: 0;
  min-width: 80px;
  height: 32px;
  border: 1px solid black;
  font-size: 13px;
}
