

.search{overflow: auto;
  


}

.infoCol1 {
  background-color: #88bef2;
}


.btn1name {
  display: inline-block;
  padding: 0.3em 1em;
  margin: 0 0.3em 0.01em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: green;
  text-align: center;
  transition: all 0.2s;
}
.btn1name:hover {
  background-color: rgb(120, 168, 46);
  cursor: pointer;
}

.pointername:hover {
  background-color: rgb(120, 168, 46);
  cursor: pointer;
}

@media all and (max-width: 30em) {
  .btn1name {
    display: block;
    margin: 0.2em auto;
  }
}

@media print {
body {-webkit-print-color-adjust: exact;
zoom: 45%;}
}






.table1 tbody tr td {
  
  padding: 0;
  padding-left: 2px;
  margin: 0;
  min-width: 80px;
  height: 32px;
  border: 1px solid black;
  font-size: 13px;
  text-align: center;
   
}


.table2 td {
  background-color: #88bef2;
}




.bottomSearch div{
   display:block;
  border: 1px solid black;
  border-right-width: 0px;
  
  padding-top: 7px;
  padding-left: 2px;
  padding-right: 2px;
  
  min-width: 80px;
  height: 32px;
  font-size: 13px;
  text-align: right;   
}



.negative-amount {
  background-color: rgb(242, 135, 135);
}









/* .test5 tbody tr td{
  display: block;

  border: 1px solid black;
  min-width: 80px;
  height: 32px;
  font-size: 13px;
  border-right-width: 0px;
} */